# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Node
node_modules/
frontend/node_modules/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Ignore only generated processed data
backend/processed_data.pkl

# Ignore large datasets
data/raw/*.csv
data/processed/*.csv